.post {
    margin-top: 1em;
    border: $border;
    background-color: white;

    .post-banner {
        display: flex;
        justify-content: space-between;
        button {
            margin-left: 0.5em;
        }
    }

    .post-header {
        padding: 1em 1em 1em 1em;
    }

    .post-footer {
        padding: 1em 1em 1em 1em;
        border-top: $border;
        background-color: #eff3f9;
    }

    .add-comment {
        display: flex;
        input {
            margin-right: 1em;
        }
    }
    
    img {
        max-width: 100%;
    }

    .create-post {
        margin-top: 0px;
    }
}